@import "base"
@import "bases"

@import "foundation"
@import "settings"

html, body
  position: relative
  width: 100%
  height: 100%

  *
    box-sizing: border-box

#popups
  position: fixed
  left: 0
  top: 0
  width: 0
  height: 0

+color-classes("background", $color-background, "bg")
+color-classes("tomato", $color-tomato, "tomato")
+color-classes("link", $color-link, "link")

+meyer-reset
+foundation-grid

.display-table--fixed
  table-layout: fixed

.pointer
  cursor: pointer

@import "generic/radius"
@import "generic/typography"
@import "generic/buttons"
