@import "base"
@import "bases"

@import "foundation"
@import "settings"

html, body
  position: relative
  width: 100%
  height: 100%

  *
    box-sizing: border-box

#popups
  position: fixed
  left: 0
  top: 0
  width: 0
  height: 0

+meyer-reset
+foundation-grid

.display-table--fixed
  table-layout: fixed

.pointer
  cursor: pointer

.outline-none
  outline: none

@import "generic/colors"
@import "generic/radius"
@import "generic/typography"

@import "generic/inputs"
@import "generic/buttons"

@import "specifics"
