.feed-display__preview
  @extend .position-absolute
  @extend .width-50
  @extend .height-50
  @extend .top-0
  @extend .left-0

.feed-display__preview .feed-display__photo
  @extend .position-absolute
  @extend .width-49
  @extend .height-49
  @extend .top-1
  @extend .left-1

.feed-display__preview .feed-display__photo-bg
  @extend .feed-display__preview
  @extend .background-cover
  @extend .background-center

.feed-display__card
  @extend .position-relative
  @extend .bg-grey-darken-4
  @extend .border-color-grey-darken-3
  @extend .border-1

.feed-display__card .feed-display__photo
  height: 460px
  width: 520px

.feed-display__card .feed-display__instagram-caption
  max-height: 460px
  max-width: 520px

.feed-display__card .feed-display__photo-bg
  @extend .background-contain
  @extend .background-no-repeat
  @extend .background-center
  @extend .bg-black-lighten-2
  @extend .width-50
  @extend .height-50
  @extend .left-0
  @extend .top-0

.feed-display__source-icon
  @extend .position-absolute
  @extend .left-0
  @extend .top-0

.feed-display__instagram-source-icon
  @extend .feed-display__source-icon
